@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    
    <h1 class="display-4">Empreste um Livro</h1>
    <p>Conheça um mundo novo com apenas um livro!</p>
    <img src="img/read_book_study_icon-icons.com_51077.png"/>
<div>
