@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/teste.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Meu site foda pra krl</h1>
    <p>Clique nesse link e seus problemas vão sumir!</p>
    <a href="https://e926.net/posts/3550448?q=toriel+slightly_chubby"> link da mulher mais linda</a>
</div>
